	<div class="header__menu">
		<a href="#" class="header__menu-close js-menu-close"></a>
		<nav class="header__menu-items">
			<a href="about.html" class="header__menu-item">About</a>
			<a href="projects.html" class="header__menu-item">Projects</a>
			<a href="pricing.html" class="header__menu-item">Pricing</a>
			<a href="blog.html" class="header__menu-item">Blog</a>
			<a href="blog-2.html" class="header__menu-item">Blog Second</a>
			<a href="contacts.html" class="header__menu-item">Contacts</a>
		</nav>
	</div>